---
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Víctor Pérez Brotons Art Portfolio">
	<main>
		<PageTitle>404: Page does not exist</PageTitle>
		<div class="content"></div>
	</main>
</Layout>

<style>
	.content {
		height: 300vw;
	}
</style>
