---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout title="About Víctor Perez">
		<div class="content"></div>
</Layout>

<style>
	.content {
		height: 300vw;
	}
</style>
