---
import Layout from "../layouts/Layout.astro";
import GalleryAstro from "../components/Gallery.astro";

// const img_metadata = import.meta.glob<{ default: ImageMetadata }>("/src/assets/images/DnD/*.{jpeg,jpg,png}");
const img_metadata = await Astro.glob(
	"/src/assets/images/concept/*.{jpeg,jpg,png}",
);
---

<Layout title="Comics by Víctor Pérez Brotons">
	<!-- <GalleryAstro img_metadata={img_metadata} /> -->
	<div class="placeholder">COMING SOON...</div>
</Layout>

<style>
	.placeholder {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: black;
		color: white;
		font-size: 25pt;
	}
</style>
