---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout title="Concept Art by Víctor Pérez Brotons">
	<main>
		<PageTitle>Concept Art</PageTitle>
		<div class="content"></div>
	</main>
</Layout>

<style>
	.content {
		height: 300vw;
	}
</style>
