---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

import cv_pic from "../assets/cv/Martinez_Brotons_Antonio.jpg";
---

<Layout title="CV Antonio Martinez Brotons">
	<div class="cv-container">
		<div class="cv">
			<div class="cv-left">
				<div class="cv-pic-wrapper">
					<Image class="cv-pic" src={cv_pic} alt="Antonio Martinez Brotons" />
				</div>
				<div class="spacer"><br /></div>
				<h3>ANTONIO MARTINEZ BROTONS</h3>
				<hr />
				<div class="spacer"><br /></div>
				<b>Address:</b><br />
				Ramón Vicente Serrano 6 <br />
				03206 Elche, Spain
				<br />
				<br />
				<b>Phone:</b><br />
				(+24) 600049440
				<br />
				<br />
				<b>Email:</b><br />
				toni@tonigame.dev
				<br />
				<br />
				<b>Linkedin: </b>antoniombrotons
				<hr class="invisible" />
				<div class="spacer"><br /></div>
				<hr />
				<h3>TECHNICAL SKILLS</h3>
				<hr />
				<div class="spacer"><br /></div>
				<b>2D design</b>
				<ul>
					<li>Photoshop</li>
					<li>Illustrator</li>
				</ul>
				<b>3D design</b>
				<ul>
					<li>Fusion360</li>
				</ul>
				<b>Programming languages</b>
				<ul>
					<li>Python</li>
					<li>Matlab</li>
					<li>R</li>
					<li>C++</li>
				</ul>
				<div class="spacer"><br /></div>
				<hr />
				<h3>LANGUAGES</h3>
				<hr />
				<div class="spacer"><br /></div>
				<ul>
					<li><b>Spanish</b> - Native</li>
					<li><b>Catalan</b> - Native</li>
					<li><b>English</b> - Proficient (C2)</li>
					<li><b>German</b> - Intermediate (B1)</li>
				</ul>
			</div>
			<div class="cv-right">
				<h3>PROFESSIONAL EXPERIENCE</h3>
				<hr />
				<div class="cv-section">
					<div class="cv-item-title">
						<h4>Laboratory technician at Botond Roska group</h4>
						<span class="cv-date">Mar 2021 – Dec 2022</span>
					</div>
					<span class="cv-institution"
						>Institute of Molecular and Clinical Ophthalmology Basel (IOB)
					</span>

					<ul>
						<li>
							Mouse stereotaxic surgeries, viral vector injections, retina/brain
							IHC, image acquisition and analysis
						</li>
					</ul>

					<div class="cv-item-title">
						<h4>MSc thesis at Botond Roska group</h4>
						<span class="cv-date">Feb 2019 - Jul 2020 </span>
					</div>
					<span class="cv-institution">
						Friedrich Miescher Institute (FMI), Basel
					</span>

					<ul>
						<li>
							Studying neural circuits in mouse visual system by injection of
							viral tracers, immunostaining and image acquisition of brain
							tissue, and development of a graphical interface for the analysis
							of microscope data
						</li>
						<li>
							Thesis title: “Mapping of long-range extraretinal projections to
							the dLGN”
						</li>
					</ul>

					<div class="cv-item-title">
						<h4>BSc thesis at Ikeuchi lab</h4>
						<span class="cv-date">Sep 2016 - Jun 2017</span>
					</div>
					<span class="cv-institution"> The University of Tokyo, Japan </span>

					<ul>
						<li>
							BSc thesis developing bioinformatic pipelines for analysis of
							ribosomal stalling events in RiboSeq datasets.
						</li>
						<li>
							Work partially published in Umegaki, Y. et al. (J. Neurosci, 2018)
						</li>
						<li>
							Thesis title: “Identification and Characterization of Ribosomal
							Pausing Loci Responsible for Neural Development”
						</li>
					</ul>

					<div class="cv-item-title">
						<h4>Research internship at FactorStem S.L.</h4>
						<span class="cv-date">2015</span>
					</div>
					<span class="cv-institution">
						Centro de Investigación Príncipe Felipe, Valencia, Spain
					</span>
					<div class="spacer"><br /></div>
					<div class="cv-item-title">
						<h4>Research internship at Vicente Felipo Neurobiology Lab</h4>
						<span class="cv-date">2014</span>
					</div>
					<span class="cv-institution">
						Centro de Investigación Príncipe Felipe, Valencia, Spain
					</span>
				</div>
				<div class="spacer"><br /></div>

				<h3>EDUCATION</h3>
				<hr />
				<div class="cv-section">
					<div class="cv-item-title">
						<h4>Higher National Diploma in Computing</h4>
						<span class="cv-date">2023 - Present</span>
					</div>
					<span class="cv-institution">
						Escuela Superior de Arte y Tecnología, Valencia, Spain
					</span>
					<ul>
						<li>
							CS degree focused on graphics programming and real time computing.
						</li>
					</ul>

					<div class="cv-item-title">
						<h4>Neuromatch Academy - Deep Learning Course</h4>
						<span class="cv-date">2022</span>
					</div>
					<ul>
						<li>
							Summer school in machine learning and state-of-the-art modeling
							approaches in neuroscience
						</li>
					</ul>

					<div class="cv-item-title">
						<h4>Neuromatch Academy - Computational Neuroscience 2021</h4>
						<span class="cv-date">2021</span>
					</div>
					<ul>
						<li>
							Summer school incomputational neuroscience, AI research, and
							cognitive neuroscience.
						</li>
					</ul>

					<div class="cv-item-title">
						<h4>Biotechnology MSc - Systems Biotechnology Track</h4>
						<span class="cv-date">2017 - 2020</span>
					</div>
					<span class="cv-institution"> ETH Zürich, Switzerland </span>
					<ul>
						<li>
							MSc thesis at Botond Roska laboratory (Friedrich Miescher
							Institute, Basel)
						</li>
						<li>
							ETH Zürich team leader for the 2018 iGEM contest (1 award, 4
							nominations)
						</li>
					</ul>

					<div class="cv-item-title">
						<h4>Biotechnology BSc</h4>
						<span class="cv-date">2017 - 2020</span>
					</div>
					<span class="cv-institution">
						Universitat Politècnica de València, Spain
					</span>
					<ul>
						<li>
							Erasmus exchange at Wageningen University with focus on
							biomedicine
						</li>
						<li>
							BSc thesis in bioinformatics at the Ikeuchi lab (The University of
							Tokyo)
						</li>
						<li>Best academic record amongst 2013 graduates</li>
					</ul>
				</div>
				<div class="spacer"><br /></div>
				<h3>HONORS AND AWARDS</h3>
				<hr />
				<div class="cv-section">
					<ul>
						<li>
							<div class="cv-item-title">
								Best Student Award - UPV
								<span class="cv-date">2018</span>
							</div>
						</li>
						<li>
							<div class="cv-item-title">
								iGEMer's Prize - iGEMcompetition
								<span class="cv-date">2018</span>
							</div>
						</li>
						<li>
							<div class="cv-item-title">
								Fellowship for Postgraduate Studies in Europe - CaixaBank
								<span class="cv-date">2017</span>
							</div>
						</li>
						<li>
							<div class="cv-item-title">
								Santander Bank Crue-CEPYME scholarship
								<span class="cv-date">2014</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="spacer"><br /></div>
				<h3>PUBLICATIONS</h3>
				<hr />
				<div class="cv-section">
					<ul>
						<li>
							Umegaki, Y., Brotons, A. M., Nakanishi, Y., Luo, Z., Zhang, H.,
							Bonni, A., & Ikeuchi, Y. (2018). Palladin is a Neuron-Specific
							Translational Target of mTOR Signaling that Regulates Axon
							Morphogenesis. Journal of Neuroscience, 2370-17. (link)
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	.cv-container {
		display: flex;
		margin-top: 5rem;
		margin-bottom: 5rem;

		width: 80%;
		margin-inline: auto;
		height: auto;
	}

	.cv {
		display: flex;
		border: 3px solid #f49920;
		width: 100%;
	}

	.cv-left {
		background: #c4cdd6;
		width: 30%;
		border-right: 3px solid #f49920;
		padding: 2rem;
	}

	.invisible {
		visibility: hidden;
	}

	.cv-left h3 {
		margin: 0;
		text-align: center;
		font-size: 18pt;
	}

	.cv-pic {
		border-radius: 50%;
		width: 100%;
		height: 100%;
		border: 3px solid #f49920;
	}

	.cv-left hr {
		height: 2px;
		border: none;
		background: black;
		margin: 0.5rem 0;
	}
	.cv-right {
		width: 70%;
	}

	.cv-right h3 {
		color: #767171;
		font-weight: 700;
		font-size: 17pt;
		padding-left: 1rem;
		margin: 0;
		margin-top: 1rem;
	}

	.cv-right hr {
		margin-right: 10%;
		height: 3px;
		border: none;
		background: #f49920;
	}

	.cv-section {
		margin-left: 2rem;
		margin-right: 10%;
	}

	.cv-right h4 {
		margin: 1pt 0;
		display: inline;
	}
	.cv-institution {
		color: #767171;
		font-weight: bold;
	}

	.cv-date {
		text-align: right;
		color: #f49920;
		font-weight: bold;
	}

	.cv-item-title {
		display: flex;
		justify-content: space-between;
	}

	ul {
		list-style-type: square;
		margin: 0.5rem 0;
	}

	.cv-right spacer {
		height: 2rem;
	}
</style>
