---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro";
import { getImage } from "astro:assets";
import etherna_bg from "../assets/images/backgrounds/background_etherna_combined.png";

const img_metadata = await Astro.glob(
  "/src/assets/images/Etherna/*.{jpeg,jpg,png}",
);

const optimizedBackgroundImage = await getImage({ src: etherna_bg });
const optimizedBgURL = optimizedBackgroundImage.src;
---

<Layout title="Etherna by Víctor Pérez Brotons">
  <div id="gallery-wrapper">
    <div id="bg-container"></div>

    <Gallery img_metadata={img_metadata} />
  </div>
</Layout>

<style define:vars={{ bgimage: `url(${optimizedBgURL})` }}>
  #gallery-wrapper {
    background-color: black;
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
  }

  #bg-container {
    background-image: var(--bgimage);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% calc(100vh - 4rem);

    background-color: black;
    z-index: -5000;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
</style>

<script is:inline>
  getHeaderOffset = () =>
    document.getElementById("header").getBoundingClientRect().y +
    document.getElementById("header").getBoundingClientRect().height;

  getGalleryYpos = () =>
    document.getElementById("content").getBoundingClientRect().y;

  setBgDims = () => {
    let bg_container = document.getElementById("bg-container");

    bg_container.style.setProperty(
      "margin-top",
      getHeaderOffset().toString() + "px",
    );

    bg_container.style.setProperty(
      "background-size",
      "100% calc(100vh - " + getHeaderOffset().toString() + "px)",
    );
  };

  setGalleryClip = () => {
    ratio = 125 / 2480; // Percentage of bg to hide based on original image
    viewport_available = window.innerHeight - getHeaderOffset();
    clip = viewport_available * ratio;

    document
      .getElementById("gallery")
      .style.setProperty(
        "clip-path",
        "inset(" +
          (-getGalleryYpos() + getHeaderOffset() + clip).toString() +
          "px 0 0 0)",
      );
  };

  adjust_gallery = () => {
    setBgDims();
    setGalleryClip();
  };

  document.addEventListener("astro:page-load", () => {
    adjust_gallery();
    document.body.addEventListener("scroll", adjust_gallery);
    window.addEventListener("resize", adjust_gallery);
  });
</script>
