---
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Víctor Pérez Brotons Art Portfolio">
		<PageTitle>Welcome</PageTitle>
		<div class="content"></div>
</Layout>

<style>
	.content {
		height: 300vw;
	}
</style>
