---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Víctor Pérez Brotons Art Portfolio">
	<div>
		<h1>LEGAL NOTICE AND GENERAL TERMS OF USE</h1>
		<h2>victorperezbrotons.com</h2>

		<h3>I. GENERAL INFORMATION</h3>
		<p>
			In compliance with the duty of information stipulated in Law 34/2002 on
			Information Society Services and Electronic Commerce (LSSI-CE) of July 11,
			the following general information data of this website is provided:
		</p>
		<p>
			The ownership of this website, victorperezbrotons.com (hereinafter, the
			Website), is held by: Víctor Pérez Brotons, whose contact details are:
		</p>
		<p>Contact email: contact@victorperezbrotons.com</p>

		<h3>II. GENERAL TERMS AND CONDITIONS OF USE</h3>
		<p>The purpose of the conditions: The Website</p>
		<p>
			The purpose of these General Terms of Use (hereinafter, Terms) is to
			regulate the access and use of the Website. For the purposes of these
			Terms, the Website shall be understood as: the external appearance of the
			screen interfaces, both statically and dynamically, that is, the
			navigation tree; and all elements integrated into both the screen
			interfaces and the navigation tree (hereinafter, Contents) and all those
			online services or resources that may be offered to Users (hereinafter,
			Services).
		</p>
		<p>
			Víctor Pérez Brotons Digital Art Portfolio reserves the right to modify,
			at any time, and without prior notice, the presentation and configuration
			of the Website and the Contents and Services that may be incorporated
			therein. The User acknowledges and accepts that at any time Víctor Pérez
			Brotons Digital Art Portfolio may interrupt, deactivate and/or cancel any
			of these elements that are integrated into the Website or access to them.
		</p>
		<p>
			Access to the Website by the User is free of charge and, as a general
			rule, is free of charge without the User having to provide any
			consideration in order to enjoy it, except for the cost of connection
			through the telecommunications network provided by the access provider
			contracted by the User.
		</p>
		<p>
			The use of any of the Contents or Services of the Website may be made by
			subscribing or registering the User in advance.
		</p>
		<p>The User</p>
		<p>
			Access, browsing and use of the Website confers the status of User, so all
			the Terms established here, as well as their subsequent modifications, are
			accepted from the moment the browsing of the Website begins, without
			prejudice to the application of the corresponding mandatory legal
			regulations as the case may be. Given the relevance of the above, the User
			is recommended to read them each time they visit the Website.
		</p>
		<p>
			The Website of Víctor Pérez Brotons Digital Art Portfolio provides a wide
			variety of information, services and data. The User assumes responsibility
			for making proper use of the Website. This responsibility shall extend to:
		</p>
		<ul>
			<li>
				Use of the information, Contents and/or Services and data offered by
				Víctor Pérez Brotons Digital Art Portfolio in accordance with these
				Terms, the Law, morality or public order, or that in any other way may
				imply damage to the rights of third parties or the same operation of the
				Website.
			</li>
			<li>
				The truthfulness and legality of the information provided by the User in
				the forms extended by Víctor Pérez Brotons Digital Art Portfolio for
				access to certain Contents or Services offered by the Website. In any
				case, the User will immediately notify Víctor Pérez Brotons Digital Art
				Portfolio about any event that allows the misuse of the information
				recorded in such forms, such as, but not limited to, theft, loss, or
				unauthorized access to identifiers and/or passwords, in order to proceed
				with their immediate cancellation.
			</li>
		</ul>
		<p>
			The mere access to this Website does not imply any kind of commercial
			relationship between Víctor Pérez Brotons Digital Art Portfolio and the
			User.
		</p>
		<p>
			Always in compliance with the applicable legislation, this Website of
			Víctor Pérez Brotons Digital Art Portfolio is directed to all persons,
			regardless of their age, who may access and/or browse the pages of the
			Website.
		</p>

		<h3>
			III. ACCESS AND NAVIGATION ON THE WEBSITE: EXCLUSION OF WARRANTIES AND
			LIABILITY
		</h3>
		<p>
			Víctor Pérez Brotons Digital Art Portfolio does not guarantee the
			continuity, availability and usefulness of the Website, nor of the
			Contents or Services. Víctor Pérez Brotons Digital Art Portfolio will do
			everything possible for the proper functioning of the Website, however, it
			does not take responsibility or guarantee that access to this Website will
			not be uninterrupted or error-free.
		</p>
		<p>
			It also does not take responsibility or guarantee that the content or
			software that can be accessed through this Website is error-free or will
			not cause damage to the User's computer system (software and hardware). In
			no case will Víctor Pérez Brotons Digital Art Portfolio be responsible for
			any losses, damages or harms of any kind arising from access, browsing and
			use of the Website, including, but not limited to, those caused to
			computer systems or those caused by the introduction of viruses.
		</p>
		<p>
			Víctor Pérez Brotons Digital Art Portfolio is also not responsible for the
			damages that may be caused to users by improper use of this Website. In
			particular, it is not responsible in any way for the drops, interruptions,
			lack or defect of the telecommunications that may occur.
		</p>

		<h3>IV. LINK POLICY</h3>
		<p>
			The User or third party who makes a hyperlink from a web page of another,
			different, website to the Website of Víctor Pérez Brotons Digital Art
			Portfolio must know that:
		</p>
		<ul>
			<li>
				The reproduction —totally or partially— of any of the Contents and/or
				Services of the Website without the express authorization of Víctor
				Pérez Brotons Digital Art Portfolio is not allowed.
			</li>
			<li>
				No false, inaccurate or incorrect statements about the Website of Víctor
				Pérez Brotons Digital Art Portfolio, or about the Contents and/or
				Services of the same are allowed.
			</li>
			<li>
				Except for the hyperlink, the website on which such hyperlink is
				established will not contain any element of this Website, protected as
				intellectual property by Spanish law, except with the express
				authorization of Víctor Pérez Brotons Digital Art Portfolio.
			</li>
			<li>
				The establishment of the hyperlink does not imply the existence of
				relations between Víctor Pérez Brotons Digital Art Portfolio and the
				owner of the website from which it is made, nor the knowledge and
				acceptance of Víctor Pérez Brotons Digital Art Portfolio of the
				contents, services and/or activities offered on said website, and vice
				versa.
			</li>
		</ul>

		<h3>V. INTELLECTUAL AND INDUSTRIAL PROPERTY</h3>
		<p>
			Víctor Pérez Brotons Digital Art Portfolio, by itself or as an assignee,
			is the holder of all the intellectual and industrial property rights of
			the Website, as well as of the elements contained therein (including, but
			not limited to, images, sound, audio, video, software or texts, trademarks
			or logos, color combinations, structure and design, selection of materials
			used, computer programs necessary for its operation, access and use,
			etc.). They shall, therefore, be works protected as intellectual property
			by Spanish law, being applicable both the Spanish and Community
			regulations in this field, as well as the international treaties relating
			to the matter and signed by Spain.
		</p>
		<p>
			All rights reserved. Under the provisions of the Intellectual Property
			Law, the reproduction, distribution and public communication, including
			its mode of making available, of all or part of the contents of this web
			page, for commercial purposes, in any medium and by any technical means,
			without the authorization of Víctor Pérez Brotons Digital Art Portfolio,
			are expressly prohibited.
		</p>
		<p>
			The User undertakes to respect the intellectual and industrial property
			rights of Víctor Pérez Brotons Digital Art Portfolio. The User may view
			the elements of the Website or even print them, copy them and store them
			on the hard drive of their computer or on any other physical medium
			provided that it is exclusively for their personal use. The User, however,
			may not delete, alter, or manipulate any protection device or security
			system that was installed on the Website.
		</p>
		<p>
			In the event that the User or third party considers that any of the
			Contents of the Website entails a violation of the rights of protection of
			intellectual property, they must immediately notify Víctor Pérez Brotons
			Digital Art Portfolio through the contact details of the GENERAL
			INFORMATION section of this Legal Notice and General Terms of Use.
		</p>

		<h3>VI. LEGAL ACTIONS, APPLICABLE LEGISLATION AND JURISDICTION</h3>
		<p>
			Víctor Pérez Brotons Digital Art Portfolio reserves the right to file
			civil or criminal actions it deems necessary for the improper use of the
			Website and Contents, or for the breach of these Terms.
		</p>
		<p>
			The relationship between the User and Víctor Pérez Brotons Digital Art
			Portfolio will be governed by the regulations in force and applicable in
			the Spanish territory. Should any controversy arise in relation to the
			interpretation and/or application of these Terms, the parties will submit
			their conflicts to the ordinary jurisdiction, submitting themselves to the
			judges and courts that correspond according to law.
		</p>
		<p>
			This document of Legal Notice and General Terms of Use of the website has
			been last update on 05/22/2024.
		</p>

		<hr />

		<h2>AVISO LEGAL Y CONDICIONES GENERALES DE USO</h2>
		<h3>victorperezbrotons.com</h3>

		<h3>I. INFORMACIÓN GENERAL</h3>
		<p>
			En cumplimiento con el deber de información dispuesto en la Ley 34/2002 de
			Servicios de la Sociedad de la Información y el Comercio Electrónico
			(LSSI-CE) de 11 de julio, se facilitan a continuación los siguientes datos
			de información general de este sitio web:
		</p>
		<p>
			La titularidad de este sitio web, victorperezbrotons.com, (en adelante,
			Sitio Web) la ostenta: Víctor Pérez Brotons, cuyos datos de contacto son:
		</p>
		<p>Email de contacto: contact@victorperezbrotons.com</p>

		<h3>II. TÉRMINOS Y CONDICIONES GENERALES DE USO</h3>
		<p>El objeto de las condiciones: El Sitio Web</p>
		<p>
			El objeto de las presentes Condiciones Generales de Uso (en adelante,
			Condiciones) es regular el acceso y la utilización del Sitio Web. A los
			efectos de las presentes Condiciones se entenderá como Sitio Web: la
			apariencia externa de los interfaces de pantalla, tanto de forma estática
			como de forma dinámica, es decir, el árbol de navegación; y todos los
			elementos integrados tanto en los interfaces de pantalla como en el árbol
			de navegación (en adelante, Contenidos) y todos aquellos servicios o
			recursos en línea que en su caso ofrezca a los Usuarios (en adelante,
			Servicios).
		</p>
		<p>
			Víctor Pérez Brotons Digital Art Portfolio se reserva la facultad de
			modificar, en cualquier momento, y sin aviso previo, la presentación y
			configuración del Sitio Web y de los Contenidos y Servicios que en él
			pudieran estar incorporados. El Usuario reconoce y acepta que en cualquier
			momento Víctor Pérez Brotons Digital Art Portfolio pueda interrumpir,
			desactivar y/o cancelar cualquiera de estos elementos que se integran en
			el Sitio Web o el acceso a los mismos.
		</p>
		<p>
			El acceso al Sitio Web por el Usuario tiene carácter libre y, por regla
			general, es gratuito sin que el Usuario tenga que proporcionar una
			contraprestación para poder disfrutar de ello, salvo en lo relativo al
			coste de conexión a través de la red de telecomunicaciones suministrada
			por el proveedor de acceso que hubiere contratado el Usuario.
		</p>
		<p>
			La utilización de alguno de los Contenidos o Servicios del Sitio Web podrá
			hacerse mediante la suscripción o registro previo del Usuario.
		</p>
		<p>El Usuario</p>
		<p>
			El acceso, la navegación y uso del Sitio Web, confiere la condición de
			Usuario, por lo que se aceptan, desde que se inicia la navegación por el
			Sitio Web, todas las Condiciones aquí establecidas, así como sus
			ulteriores modificaciones, sin perjuicio de la aplicación de la
			correspondiente normativa legal de obligado cumplimiento según el caso.
			Dada la relevancia de lo anterior, se recomienda al Usuario leerlas cada
			vez que visite el Sitio Web.
		</p>
		<p>
			El Sitio Web de Víctor Pérez Brotons Digital Art Portfolio proporciona
			gran diversidad de información, servicios y datos. El Usuario asume su
			responsabilidad para realizar un uso correcto del Sitio Web. Esta
			responsabilidad se extenderá a:
		</p>
		<ul>
			<li>
				Un uso de la información, Contenidos y/o Servicios y datos ofrecidos por
				Víctor Pérez Brotons Digital Art Portfolio sin que sea contrario a lo
				dispuesto por las presentes Condiciones, la Ley, la moral o el orden
				público, o que de cualquier otro modo puedan suponer lesión de los
				derechos de terceros o del mismo funcionamiento del Sitio Web.
			</li>
			<li>
				La veracidad y licitud de las informaciones aportadas por el Usuario en
				los formularios extendidos por Víctor Pérez Brotons Digital Art
				Portfolio para el acceso a ciertos Contenidos o Servicios ofrecidos por
				el Sitio Web. En todo caso, el Usuario notificará de forma inmediata a
				Víctor Pérez Brotons Digital Art Portfolio acerca de cualquier hecho que
				permita el uso indebido de la información registrada en dichos
				formularios, tales como, pero no solo, el robo, extravío, o el acceso no
				autorizado a identificadores y/o contraseñas, con el fin de proceder a
				su inmediata cancelación.
			</li>
		</ul>
		<p>
			El mero acceso a este Sitio Web no supone entablar ningún tipo de relación
			de carácter comercial entre Víctor Pérez Brotons Digital Art Portfolio y
			el Usuario.
		</p>
		<p>
			Siempre en el respeto de la legislación vigente, este Sitio Web de Víctor
			Pérez Brotons Digital Art Portfolio se dirige a todas las personas, sin
			importar su edad, que puedan acceder y/o navegar por las páginas del Sitio
			Web.
		</p>

		<h3>
			III. ACCESO Y NAVEGACIÓN EN EL SITIO WEB: EXCLUSIÓN DE GARANTÍAS Y
			RESPONSABILIDAD
		</h3>
		<p>
			Víctor Pérez Brotons Digital Art Portfolio no garantiza la continuidad,
			disponibilidad y utilidad del Sitio Web, ni de los Contenidos o Servicios.
			Víctor Pérez Brotons Digital Art Portfolio hará todo lo posible por el
			buen funcionamiento del Sitio Web, sin embargo, no se responsabiliza ni
			garantiza que el acceso a este Sitio Web no vaya a ser ininterrumpido o
			que esté libre de error.
		</p>
		<p>
			Tampoco se responsabiliza o garantiza que el contenido o software al que
			pueda accederse a través de este Sitio Web, esté libre de error o cause un
			daño al sistema informático (software y hardware) del Usuario. En ningún
			caso Víctor Pérez Brotons Digital Art Portfolio será responsable por las
			pérdidas, daños o perjuicios de cualquier tipo que surjan por el acceso,
			navegación y el uso del Sitio Web, incluyéndose, pero no limitándose, a
			los ocasionados a los sistemas informáticos o los provocados por la
			introducción de virus.
		</p>
		<p>
			Víctor Pérez Brotons Digital Art Portfolio tampoco se hace responsable de
			los daños que pudiesen ocasionarse a los usuarios por un uso inadecuado de
			este Sitio Web. En particular, no se hace responsable en modo alguno de
			las caídas, interrupciones, falta o defecto de las telecomunicaciones que
			pudieran ocurrir.
		</p>

		<h3>IV. POLÍTICA DE ENLACES</h3>
		<p>
			El Usuario o tercero que realice un hipervínculo desde una página web de
			otro, distinto, sitio web al Sitio Web de Víctor Pérez Brotons Digital Art
			Portfolio deberá saber que:
		</p>
		<ul>
			<li>
				No se permite la reproducción —total o parcialmente— de ninguno de los
				Contenidos y/o Servicios del Sitio Web sin autorización expresa de
				Víctor Pérez Brotons Digital Art Portfolio.
			</li>
			<li>
				No se permite tampoco ninguna manifestación falsa, inexacta o incorrecta
				sobre el Sitio Web de Víctor Pérez Brotons Digital Art Portfolio, ni
				sobre los Contenidos y/o Servicios del mismo.
			</li>
			<li>
				A excepción del hipervínculo, el sitio web en el que se establezca dicho
				hiperenlace no contendrá ningún elemento, de este Sitio Web, protegido
				como propiedad intelectual por el ordenamiento jurídico español, salvo
				autorización expresa de Víctor Pérez Brotons Digital Art Portfolio.
			</li>
			<li>
				El establecimiento del hipervínculo no implicará la existencia de
				relaciones entre Víctor Pérez Brotons Digital Art Portfolio y el titular
				del sitio web desde el cual se realice, ni el conocimiento y aceptación
				de Víctor Pérez Brotons Digital Art Portfolio de los contenidos,
				servicios y/o actividades ofrecidas en dicho sitio web, y viceversa.
			</li>
		</ul>

		<h3>V. PROPIEDAD INTELECTUAL E INDUSTRIAL</h3>
		<p>
			Víctor Pérez Brotons Digital Art Portfolio por sí o como parte cesionaria,
			es titular de todos los derechos de propiedad intelectual e industrial del
			Sitio Web, así como de los elementos contenidos en el mismo (a título
			enunciativo y no exhaustivo, imágenes, sonido, audio, vídeo, software o
			textos, marcas o logotipos, combinaciones de colores, estructura y diseño,
			selección de materiales usados, programas de ordenador necesarios para su
			funcionamiento, acceso y uso, etc.). Serán, por consiguiente, obras
			protegidas como propiedad intelectual por el ordenamiento jurídico
			español, siéndoles aplicables tanto la normativa española y comunitaria en
			este campo, como los tratados internacionales relativos a la materia y
			suscritos por España.
		</p>
		<p>
			Todos los derechos reservados. En virtud de lo dispuesto en la Ley de
			Propiedad Intelectual, quedan expresamente prohibidas la reproducción, la
			distribución y la comunicación pública, incluida su modalidad de puesta a
			disposición, de la totalidad o parte de los contenidos de esta página web,
			con fines comerciales, en cualquier soporte y por cualquier medio técnico,
			sin la autorización de Víctor Pérez Brotons Digital Art Portfolio.
		</p>
		<p>
			El Usuario se compromete a respetar los derechos de propiedad intelectual
			e industrial de Víctor Pérez Brotons Digital Art Portfolio. Podrá
			visualizar los elementos del Sitio Web o incluso imprimirlos, copiarlos y
			almacenarlos en el disco duro de su ordenador o en cualquier otro soporte
			físico siempre y cuando sea, exclusivamente, para su uso personal. El
			Usuario, sin embargo, no podrá suprimir, alterar, o manipular cualquier
			dispositivo de protección o sistema de seguridad que estuviera instalado
			en el Sitio Web.
		</p>
		<p>
			En caso de que el Usuario o tercero considere que cualquiera de los
			Contenidos del Sitio Web suponga una violación de los derechos de
			protección de la propiedad intelectual, deberá comunicarlo inmediatamente
			a Víctor Pérez Brotons Digital Art Portfolio a través de los datos de
			contacto del apartado de INFORMACIÓN GENERAL de este Aviso Legal y
			Condiciones Generales de Uso.
		</p>

		<h3>VI. ACCIONES LEGALES, LEGISLACIÓN APLICABLE Y JURISDICCIÓN</h3>
		<p>
			Víctor Pérez Brotons Digital Art Portfolio se reserva la facultad de
			presentar las acciones civiles o penales que considere necesarias por la
			utilización indebida del Sitio Web y Contenidos, o por el incumplimiento
			de las presentes Condiciones.
		</p>
		<p>
			La relación entre el Usuario y Víctor Pérez Brotons Digital Art Portfolio
			se regirá por la normativa vigente y de aplicación en el territorio
			español. De surgir cualquier controversia en relación con la
			interpretación y/o a la aplicación de estas Condiciones las partes
			someterán sus conflictos a la jurisdicción ordinaria sometiéndose a los
			jueces y tribunales que correspondan conforme a derecho.
		</p>
		<p>
			Este documento de Aviso Legal y Condiciones Generales de uso del sitio web
			ha sido creado mediante el generador de plantilla de aviso legal y
			condiciones de uso online el día 22/05/2024.
		</p>
	</div>

	<h1>LEGAL NOTICE AND GENERAL TERMS OF USE</h1>
	<h2>victorperezbrotons.com</h2>

	<h3>I. GENERAL INFORMATION</h3>
	<p>
		In compliance with the duty of information stipulated in Law 34/2002 on
		Information Society Services and Electronic Commerce (LSSI-CE) of July 11,
		the following general information data of this website is provided:
	</p>
	<p>
		The ownership of this website, victorperezbrotons.com (hereinafter, the
		Website), is held by: Víctor Pérez Brotons, with NIF: 74369081F, and whose
		contact details are:
	</p>
	<p>Address: C/ Albuixech</p>
	<p>Contact phone: 677609198</p>
	<p>Contact email: contact@victorperezbrotons.com</p>

	<h3>II. GENERAL TERMS AND CONDITIONS OF USE</h3>
	<p>The purpose of the conditions: The Website</p>
	<p>
		The purpose of these General Terms of Use (hereinafter, Terms) is to
		regulate the access and use of the Website. For the purposes of these Terms,
		the Website shall be understood as: the external appearance of the screen
		interfaces, both statically and dynamically, that is, the navigation tree;
		and all elements integrated into both the screen interfaces and the
		navigation tree (hereinafter, Contents) and all those online services or
		resources that may be offered to Users (hereinafter, Services).
	</p>
	<p>
		Víctor Pérez Brotons Digital Art Portfolio reserves the right to modify, at
		any time, and without prior notice, the presentation and configuration of
		the Website and the Contents and Services that may be incorporated therein.
		The User acknowledges and accepts that at any time Víctor Pérez Brotons
		Digital Art Portfolio may interrupt, deactivate and/or cancel any of these
		elements that are integrated into the Website or access to them.
	</p>
	<p>
		Access to the Website by the User is free of charge and, as a general rule,
		is free of charge without the User having to provide any consideration in
		order to enjoy it, except for the cost of connection through the
		telecommunications network provided by the access provider contracted by the
		User.
	</p>
	<p>
		The use of any of the Contents or Services of the Website may be made by
		subscribing or registering the User in advance.
	</p>
	<p>The User</p>
	<p>
		Access, browsing and use of the Website confers the status of User, so all
		the Terms established here, as well as their subsequent modifications, are
		accepted from the moment the browsing of the Website begins, without
		prejudice to the application of the corresponding mandatory legal
		regulations as the case may be. Given the relevance of the above, the User
		is recommended to read them each time they visit the Website.
	</p>
	<p>
		The Website of Víctor Pérez Brotons Digital Art Portfolio provides a wide
		variety of information, services and data. The User assumes responsibility
		for making proper use of the Website. This responsibility shall extend to:
	</p>
	<ul>
		<li>
			Use of the information, Contents and/or Services and data offered by
			Víctor Pérez Brotons Digital Art Portfolio in accordance with these Terms,
			the Law, morality or public order, or that in any other way may imply
			damage to the rights of third parties or the same operation of the
			Website.
		</li>
		<li>
			The truthfulness and legality of the information provided by the User in
			the forms extended by Víctor Pérez Brotons Digital Art Portfolio for
			access to certain Contents or Services offered by the Website. In any
			case, the User will immediately notify Víctor Pérez Brotons Digital Art
			Portfolio about any event that allows the misuse of the information
			recorded in such forms, such as, but not limited to, theft, loss, or
			unauthorized access to identifiers and/or passwords, in order to proceed
			with their immediate cancellation.
		</li>
	</ul>
	<p>
		The mere access to this Website does not imply any kind of commercial
		relationship between Víctor Pérez Brotons Digital Art Portfolio and the
		User.
	</p>
	<p>
		Always in compliance with the applicable legislation, this Website of Víctor
		Pérez Brotons Digital Art Portfolio is directed to all persons, regardless
		of their age, who may access and/or browse the pages of the Website.
	</p>

	<h3>
		III. ACCESS AND NAVIGATION ON THE WEBSITE: EXCLUSION OF WARRANTIES AND
		LIABILITY
	</h3>
	<p>
		Víctor Pérez Brotons Digital Art Portfolio does not guarantee the
		continuity, availability and usefulness of the Website, nor of the Contents
		or Services. Víctor Pérez Brotons Digital Art Portfolio will do everything
		possible for the proper functioning of the Website, however, it does not
		take responsibility or guarantee that access to this Website will not be
		uninterrupted or error-free.
	</p>
	<p>
		It also does not take responsibility or guarantee that the content or
		software that can be accessed through this Website is error-free or will not
		cause damage to the User's computer system (software and hardware). In no
		case will Víctor Pérez Brotons Digital Art Portfolio be responsible for any
		losses, damages or harms of any kind arising from access, browsing and use
		of the Website, including, but not limited to, those caused to computer
		systems or those caused by the introduction of viruses.
	</p>
	<p>
		Víctor Pérez Brotons Digital Art Portfolio is also not responsible for the
		damages that may be caused to users by improper use of this Website. In
		particular, it is not responsible in any way for the drops, interruptions,
		lack or defect of the telecommunications that may occur.
	</p>

	<h3>IV. LINK POLICY</h3>
	<p>
		The User or third party who makes a hyperlink from a web page of another,
		different, website to the Website of Víctor Pérez Brotons Digital Art
		Portfolio must know that:
	</p>
	<ul>
		<li>
			The reproduction —totally or partially— of any of the Contents and/or
			Services of the Website without the express authorization of Víctor Pérez
			Brotons Digital Art Portfolio is not allowed.
		</li>
		<li>
			No false, inaccurate or incorrect statements about the Website of Víctor
			Pérez Brotons Digital Art Portfolio, or about the Contents and/or Services
			of the same are allowed.
		</li>
		<li>
			Except for the hyperlink, the website on which such hyperlink is
			established will not contain any element of this Website, protected as
			intellectual property by Spanish law, except with the express
			authorization of Víctor Pérez Brotons Digital Art Portfolio.
		</li>
		<li>
			The establishment of the hyperlink does not imply the existence of
			relations between Víctor Pérez Brotons Digital Art Portfolio and the owner
			of the website from which it is made, nor the knowledge and acceptance of
			Víctor Pérez Brotons Digital Art Portfolio of the contents, services
			and/or activities offered on said website, and vice versa.
		</li>
	</ul>

	<h3>V. INTELLECTUAL AND INDUSTRIAL PROPERTY</h3>
	<p>
		Víctor Pérez Brotons Digital Art Portfolio, by itself or as an assignee, is
		the holder of all the intellectual and industrial property rights of the
		Website, as well as of the elements contained therein (including, but not
		limited to, images, sound, audio, video, software or texts, trademarks or
		logos, color combinations, structure and design, selection of materials
		used, computer programs necessary for its operation, access and use, etc.).
		They shall, therefore, be works protected as intellectual property by
		Spanish law, being applicable both the Spanish and Community regulations in
		this field, as well as the international treaties relating to the matter and
		signed by Spain.
	</p>
	<p>
		All rights reserved. Under the provisions of the Intellectual Property Law,
		the reproduction, distribution and public communication, including its mode
		of making available, of all or part of the contents of this web page, for
		commercial purposes, in any medium and by any technical means, without the
		authorization of Víctor Pérez Brotons Digital Art Portfolio, are expressly
		prohibited.
	</p>
	<p>
		The User undertakes to respect the intellectual and industrial property
		rights of Víctor Pérez Brotons Digital Art Portfolio. The User may view the
		elements of the Website or even print them, copy them and store them on the
		hard drive of their computer or on any other physical medium provided that
		it is exclusively for their personal use. The User, however, may not delete,
		alter, or manipulate any protection device or security system that was
		installed on the Website.
	</p>
	<p>
		In the event that the User or third party considers that any of the Contents
		of the Website entails a violation of the rights of protection of
		intellectual property, they must immediately notify Víctor Pérez Brotons
		Digital Art Portfolio through the contact details of the GENERAL INFORMATION
		section of this Legal Notice and General Terms of Use.
	</p>

	<h3>VI. LEGAL ACTIONS, APPLICABLE LEGISLATION AND JURISDICTION</h3>
	<p>
		Víctor Pérez Brotons Digital Art Portfolio reserves the right to file civil
		or criminal actions it deems necessary for the improper use of the Website
		and Contents, or for the breach of these Terms.
	</p>
	<p>
		The relationship between the User and Víctor Pérez Brotons Digital Art
		Portfolio will be governed by the regulations in force and applicable in the
		Spanish territory. Should any controversy arise in relation to the
		interpretation and/or application of these Terms, the parties will submit
		their conflicts to the ordinary jurisdiction, submitting themselves to the
		judges and courts that correspond according to law.
	</p>
	<p>
		This document of Legal Notice and General Terms of Use of the website has
		been created using the online legal notice and terms of use template
		generator on 05/22/2024.
	</p>
</Layout>

<style>
	div {
		padding: 2rem;
		text-align: justify;
	}
</style>
