---
import Layout from "../layouts/Layout.astro";
import CharacerCard from "../components/CharacerCard.astro";

const img_metadata = await Astro.glob(
  "/src/assets/images/SkyIsDead/characters/*.{jpeg,jpg,png}",
);

const metadata: ImageMetadata[] = img_metadata.map(
  (file: Record<string, any>) => file.default,
);

const card_width = (100 / metadata.length).toString() + "%";
const img_classname = "character-card";
---

<Layout title="Víctor Pérez Brotons Art Portfolio">
  <div class="card-container">
    {
      metadata.map((image: ImageMetadata) => (
        <CharacerCard img={image} width={card_width} />
      ))
    }
  </div>
</Layout>

<style is:global>
  /* Apply background to main so that it covers the entire page */
  #content {
    background-color: black;
    background-image: url("../assets/images/backgrounds/brickwall1.jpeg");
    background-size: 100% 100%;
    background-position: top 0;
  }
</style>

<style>
  .card-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2rem;
    padding: 10rem 5rem;
  }
</style>

<!-- <script is:inline>
  document.addEventListener("astro:page-load", () => {
    let slideshow = document.getElementById("gallery-wrapper");
    let header_height = document.getElementById("header").offsetHeight;

    if (slideshow) slideshow.style.height = `calc(100vh - ${header_height}px)`;
  });
</script> -->
