---
const contact_text =
  "If you want to know more about my art, order some prints, or just chat, please send me a message!";
---

<script is:inline>
  displaySucces = () => {
    document.getElementById("form-button").innerText =
      "YOUR MESSAGE HAS BEEN SENT";
  };
</script>

<div class="form-wrapper">
  <form class="contact-form" onsubmit="displaySucces();return false">
    <div class="form-group left-side">
      <div class="contact-text-wide">{contact_text}</div>
      <div class="spacer"></div>
      <div id="name" class="input-wrapper">
        <label for="name">Name</label>
        <input
          class="input-textbox"
          pattern="[A-z ]+"
          required
          type="text"
          placeholder="YOUR NAME"
          oninvalid="this.setCustomValidity('Please only enter letters and spaces!')"
        />
      </div>
      <div id="email" class="input-wrapper">
        <label for="email">Email</label>
        <input
          class="input-textbox"
          pattern="[A-z0-9._+-]+@[A-z0-9 -]+\.[A-z]{2,3}"
          required
          type="email"
          oninvalid="this.setCustomValidity('Please enter a valid email address!')"
          placeholder="YOUR EMAIL"
        />
      </div>
      <button type="submit" id="form-button">SEND YOUR MESSAGE</button>
    </div>

    <div class="form-group right-side">
      <div class="contact-text-tall">{contact_text}</div>

      <div id="text" class="input-wrapper">
        <label for="subject"></label>
        <textarea
          class="input-textbox"
          id="subject"
          name="subject"
          placeholder="WHAT'S ON YOUR MIND?"
          style="height:200px"></textarea>
      </div>
    </div>
  </form>
  <div class="privacy-notice">
    Remember that when you click the "Send your message" button you accept the
    website's <a href="/privacy" title="Privacy Policy">Privacy Policy</a>
  </div>
</div>
<style>
  :root {
    --border-thickness: 2px;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2rem;
    height: max-content;
    width: 60%;
    max-width: 800px;
    min-width: 20rem;
    background: black;
    border-radius: 20px;
    color: white;
    box-shadow: 4px 4px 7.5px 2px grey;
  }

  .privacy-notice {
    font-size: small;
    padding-top: 1rem;
  }

  .privacy-notice a {
    text-decoration: underline;
  }

  .contact-text {
    text-align: justify;
    padding-bottom: 0.5rem;
  }
  .contact-text-tall {
    display: none;
  }
  .contact-form {
    display: flex;
    justify-items: space-around;
    height: max-content;
    max-width: 800px;
    background: black;
    gap: 2rem;
  }

  .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    width: 50%;
  }

  .spacer {
    flex-grow: 1;
  }

  .left-side {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .right-side {
    flex-grow: 3;
    flex-shrink: 1;
  }

  .input-textbox {
    background-color: black;
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    pointer-events: all;
  }

  .input-textbox::placeholder {
    white-space: pre-line;
  }

  .input-textbox:focus {
    outline: none;
  }

  .input-wrapper {
    position: relative;
    padding: 0.4rem;
    border-radius: 5px;
    pointer-events: none;
    border: 2px solid white;
  }

  .input-wrapper[id="name"],
  [id="email"] {
    height: 3rem;
    /* width: 50%; */
  }

  button {
    font-weight: 500;
    width: 100%;
    height: 3rem;
    background: white;
    border: none;
    border-radius: 5px;
    outline: none;
  }

  .input-wrapper[id="text"] {
    height: 100%;
    /* width: 50%; */
  }
  .input-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(-1 * var(--border-thickness));
    left: calc(-1 * var(--border-thickness));
    bottom: calc(-1 * var(--border-thickness));
    right: calc(-1 * var(--border-thickness));
    padding: 0;
    margin: 0;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 4px white;
    opacity: 0;
    transition: opacity 400ms ease;
  }

  .input-wrapper:focus-within::before {
    opacity: 1;
  }

  .name-mail {
    display: flex;
    justify-items: space-between;
    gap: 1rem;
  }

  /* Hide labels */
  label {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }

  @media (width < 992px) {
    form {
      flex-direction: column-reverse;
    }
    .contact-form {
      gap: 0;
    }

    .form-group {
      width: 100%;
    }

    .contact-text-tall {
      display: block;
    }
    .contact-text-wide {
      display: none;
    }
  }
</style>
