---
import FooterButton from "./FooterButton.astro";
---

<footer id="footer">
  <div class="flex-container">
    <ul class="footer-buttons">
      <FooterButton href="/about">About me</FooterButton>
      <FooterButton href="/about">Contact </FooterButton>
      <FooterButton href="/privacy">Privacy </FooterButton>
    </ul>
    <a href="https://www.esat.es/" target="_blank">
      <img class="esat-logo" src="/images/logo-esat.webp" alt="Logo ESAT" />
    </a>
  </div>
  <div class="copyright">
    Copyright © Víctor Pérez Brotons <span class="sep">|</span><br
      class="break"
    /> All Rights Reserved
  </div>

  <style>
    footer {
      position: relative;
      background: black;
      display: flex;
      flex-direction: column;
      justify-items: space-around;
      align-items: center;
      color: white;
      margin: 0;
      background-color: black;
      box-shadow: 0 -2px 5px 0 black;
      user-select: none;
      height: min-content;
      width: 100%;
    }

    .flex-container {
      font-size: small;
      text-transform: uppercase;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    .footer-buttons {
      list-style-type: none;
      gap: 0.25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 10ch;
      padding: 0;
      margin: 1rem 0;
    }

    .esat-logo-wrapper {
      width: max-content;
      padding: 0 1rem;
    }

    .esat-logo {
      display: block;
      max-width: 230px;
      max-height: 95px;
      object-fit: contain;
      line-height: 0;
      height: 100%;
      width: 100%;
      padding: 0 1rem;
    }

    .copyright {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 1rem;
      padding-top: 0;
    }

    .break {
      display: none;
    }

    @media (width < 576px) {
      .flex-container {
        flex-direction: column;
      }

      .footer-buttons {
        align-items: center;
      }

      .break {
        display: inline;
      }

      .sep {
        display: none;
      }
    }
  </style>
</footer>
