---
import { Image } from "astro:assets";
import FooterButton from "./FooterButton.astro";
---

<footer>
  <div class="flex-container">
    <div class="flex-item">
      <ul class="links">
        <FooterButton href="/about">About me</FooterButton>
        <FooterButton href="/contact">Contact </FooterButton>
        <FooterButton href="/privacy">Privacy </FooterButton>
      </ul>
    </div>
    <div class="flex-item">
      <a href="https://www.esat.es/" class="esat-logo-container">
        <img
          class="esat-logo"
          src="/images/logo-esat.webp"
          alt="Logo ESAT"
        />
      </a>
    </div>
  </div>
  <div class="copyright">Copyright © Víctor Pérez Brotons | All Rights Reserved </div>
</footer>

<style>
  footer {
    color: white;
    position: relative;
    margin: 0;
    background-color: black;
    box-shadow: 0 -2px 5px 0 grey;
  }

  .flex-container {
    font-size: small;
    text-transform: uppercase;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    height: 100%;
  }

  .esat-logo-container {
    height: 80%;
  }

  .esat-logo {
    display: block;
    /* max-width: 230px;
    max-height: 95px; */
    object-fit: contain;
    height: 100%;
    width: auto;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;
    width: 10ch;

    padding: 1rem 0;
    margin: 0;
    list-style-type: none;
  }

  .copyright {
    /* display:block; */
    text-align: center;
    padding: 1rem;
    padding-top:0;
    
  }
</style>
