---
import path from "path";
import { Image } from "astro:assets";
import Lightbox from "../components/Lightbox.astro";
import type { ImageMetadata } from "astro";
import {
  getImageMetadata,
  readImageMetadata,
} from "../scripts/getImageData.ts";
import { shuffleArray } from "../scripts/utils.ts";

interface Props {
  img_metadata: Record<string, any>;
}

const { img_metadata } = Astro.props;

const metadata: ImageMetadata[] = img_metadata.map(
  (file: Record<string, any>) => file.default,
);

shuffleArray(metadata);

const getName = (image: ImageMetadata): string =>
  path.basename(image.src).split("?")[0];

const img_margin = 16; // 1rem
const img_margin_str = "16px"; // 1rem
---

<div class="gallery" id="gallery">
  {
    metadata.map((image: ImageMetadata) => (
      <a href={"#" + getName(image)} class="img-wrapper">
        <Image
          class="gallery-img"
          src={image}
          alt=""
          widths={[240, 540, 720, image.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${image.width}px`}
        />
      </a>
    ))
  }
</div>

<Lightbox img_metadata={img_metadata} />

<script is:inline define:vars={{ img_margin }}>
  function setGalleryDims() {
    const ww = document.body.clientWidth;

    let images = Array.from(document.getElementsByClassName("img-wrapper"));
    let heights = images.map((img) => img.offsetHeight + 2 * img_margin);
    let sum_heights = heights.reduce((sum, next) => sum + next, 0);
    let avg_height = sum_heights / heights.length;

    let widths = images.map((img) => img.offsetWidth + 2 * img_margin);

    let num_cols = Math.floor(ww / widths[0]);

    // extra height to prevent uneven image sizes from creating an extra column
    let gallery_height = sum_heights / num_cols + avg_height;

    document.getElementById("gallery").style.height = `${gallery_height}px`;
  }

  window.addEventListener("resize", setGalleryDims);
  document.addEventListener("astro:page-load", setGalleryDims);
</script>

<style define:vars={{ img_margin_str }}>
  .gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .img-wrapper {
    margin: var(--img_margin_str);
    display: block;
    width: 300px;
    height: fit-content;
    border: 1px solid black;
  }
  .gallery-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: zoom-in;
  }
</style>
