---
import NavButton from "./NavButton.astro";
import NavDropdown from "./NavDropdown.astro";

import "@fontsource-variable/open-sans";
---

<header id="header">
  <div class="logo-container">
    <a href="/">
      <div class="logo">VÍCTOR PÉREZ BROTONS</div>
    </a>
  </div>
  <nav id="navbar" class="nav-bar" transition:persist>
    <ul class="nav-list">
      <NavButton title="CONCEPT" href="/concept" />
      <NavButton title="ILLUSTRATION" href="/illustration" />
      <NavButton title="3D" href="/3d" />
      <div class="break"></div>
      <NavDropdown title="PROJECTS">
        <NavButton title="SKY IS DEAD" isproject={true} href="/skyisdead" />
        <NavButton title="ETHERNA" isproject={true} href="/etherna" />
        <NavButton title="ANIMALS A-Z" isproject={true} href="/animalsaz" />
        <NavButton title="COMIC" isproject={true} href="/comics" />
      </NavDropdown>
      <NavButton title="ABOUT ME" href="/about" />
    </ul>
  </nav>
</header>

<script is:inline>
  let buttons = Array.from(document.getElementsByClassName("nav-item"));
  buttons.forEach((button_outer) => {
    button_outer.addEventListener("click", (e) => {
      buttons.forEach((button_inner) => {
        if (e.currentTarget == button_inner) {
          let dropdown_item =
            document.getElementById("project-dropdown").firstElementChild;
          if (button_inner.classList.contains("project-button")) {
            dropdown_item.classList.add("selected");
          } else {
            dropdown_item.classList.remove("selected");
          }
          button_inner.classList.add("selected");
        } else button_inner.classList.remove("selected");
      });
    });
  });
</script>

<!-- <style is:global>
  .nav-list > * {
    flex: 1;
    min-width: fit-content;
  }
</style> -->

<style>
  :root {
    --logo-height: 5rem;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
    z-index: 1000;
    user-select: none;
    box-shadow:
      5px 5px 5px -5px black,
      -5px 5px 5px -5px black;
  }

  .logo-container {
    display: flex;
    height: var(--logo-height);
    padding: 0 4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 50;
  }

  .logo {
    font-size: 2rem;
    font-weight: 600;
    width: max-content;
  }

  .nav-bar {
    background-color: black;
    z-index: 40;
    padding: 0 4rem;
  }

  .nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .sticky {
    position: sticky;
    top: calc(-1 * var(--logo-height));
    width: 100%;
  }

  @media (max-width: 576px) {
    .nav-bar {
      padding: 0;
    }
    .nav-list {
      flex-wrap: wrap;
      justify-content: center;
    }

    .break {
      flex-basis: 100%;
      height: 0;
    }
    .logo {
      font-size: min(2rem, 7.5vw);
    }
  }

  @media (min-width: 1280px) {
    header {
      flex-direction: row;
      justify-content: space-between;
      position: sticky;
      top: 0;
    }
    .sticky {
      position: sticky;
      top: 0;
    }
  }
</style>
