---
import NavButton from "./NavButton.astro";
import NavDropdown from "./NavDropdown.astro";
---

<header id="header">
  <a href="/" class="logo">VÍCTOR PÉREZ BROTONS </a>
  <div class="spacer"></div>
  <nav id="navbar" class="nav-bar" transition:persist>
    <ul class="nav-list">
      <NavButton title="CONCEPT" href="/concept" />
      <NavButton title="ILLUSTRATION" href="/illustration" />
      <NavButton title="3D" href="/3d" />
      <div class="break"></div>
      <NavDropdown title="PROJECTS">
        <NavButton title="SKY IS DEAD" isproject={true} href="/skyisdead" />
        <NavButton title="ETHERNA" isproject={true} href="/etherna" />
        <NavButton title="ANIMALS A-Z" isproject={true} href="/animalsaz" />
        <NavButton title="COMIC" isproject={true} href="/comics" />
      </NavDropdown>
      <NavButton title="ABOUT ME" href="/about" />
    </ul>
  </nav>
</header>

<script is:inline>
  buttons = Array.from(document.getElementsByClassName("nav-button"));
  items = Array.from(document.getElementsByClassName("nav-item"));

  function toggle_underlines(e) {
    items.forEach((item) => {
      if (e.currentTarget.firstElementChild == item) {
        let dropdown_item =
          document.getElementById("project-dropdown").firstElementChild;
        if (item.classList.contains("project-button")) {
          dropdown_item.classList.add("selected");
        } else {
          dropdown_item.classList.remove("selected");
        }
        item.classList.add("selected");
      } else item.classList.remove("selected");
    });
  }

  buttons.forEach((button) => {
    button.addEventListener("click", toggle_underlines);
  });
</script>

<style>
  :root {
    --logo-height: 4rem;
  }

  header {
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
    z-index: 1000;
    user-select: none;
    box-shadow:
      5px 5px 5px -5px black,
      -5px 5px 5px -5px black;

    padding: 0 3rem;
  }

  .logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: var(--logo-height);
    font-size: 2rem;
    font-weight: 600;
    line-height: 0;
    margin: 0;
    width: max-content;
    text-wrap: nowrap;
  }

  .spacer {
    flex-basis: 100%;
  }

  .nav-bar {
    background-color: black;
    z-index: 40;
    height: 100%;
    width: 100%;
    font-size: 1em;
  }

  .nav-list {
    width: 100%;
    display: flex;
    background-color: black;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
  }

  .sticky {
    position: sticky;
    top: calc(-1 * var(--logo-height));
    width: 100%;
  }

  @media (width < 576px) {
    .nav-bar {
      padding: 0;
    }

    .nav-list {
      flex-wrap: wrap;
      justify-content: center;
    }

    .break {
      flex-basis: 100%;
    }

    .logo {
      font-size: min(2rem, max(6vw, 10pt));
    }

    .nav-list {
      font-size: min(1rem, max(6vw, 9pt));
    }
  }

  @media (width > 1280px) {
    header {
      flex-direction: row;
      justify-content: space-between;
      position: sticky;
      top: 0;
    }

    .sticky {
      position: sticky;
      top: 0;
    }

    .nav-list {
      justify-content: flex-end;
    }
  }
</style>
