---
import NavButton from "../components/NavButton.astro";
import NavDropdown from "../components/NavDropdown.astro";

---

<header id="header">
  <div class="logo-container">
    <a href="">
      <div class="logo">VÍCTOR PÉREZ BROTONS</div>
    </a>
  </div>
  <nav id="navbar" class="nav-bar">
    <ul class="nav-list">
      <NavButton href="/VPB_portfolio_astro/">HOME</NavButton>
      <NavButton href="/VPB_portfolio_astro/concept">CONCEPT</NavButton>
      <NavButton href="/VPB_portfolio_astro/illustration">ILLUSTRATION</NavButton>
      <NavDropdown name="PROJECTS">
        <NavButton href="/VPB_portfolio_astro/skyisdead">SKY IS DEAD</NavButton>
        <NavButton href="/VPB_portfolio_astro/etherna">ETHERNA</NavButton>
        <NavButton href="/VPB_portfolio_astro/animals">ANIMALS A-Z</NavButton>
      </NavDropdown>
      <NavButton href="/VPB_portfolio_astro/about">ABOUT ME</NavButton>
    </ul>
  </nav>
</header>

<script>
  window.onscroll = function () {
    addSticky();
  };

  var navbar = document.getElementById("header")!;

  var sticky = 80;

  function addSticky() {
    if (window.scrollY >= sticky) {
      navbar.classList.add("sticky");
    } else {
      navbar.classList.remove("sticky");
    }
  }
</script>

<style>

  :root {
    --logo-height: 5rem;
  }

  header {
    margin: 0;
    font-family: MenuFont;
    display: block;
    background-color: black;
    color: white;
  }

  .logo-container {
    display: flex;
    height: var(--logo-height);
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 2rem;
    font-weight: 600;
  }

  .nav-bar {
    position:sticky;
    background-color: black;
    box-shadow: 0 2px 5px 0 grey;
    clip-path: inset(0px -10px -100vh -10px); /* Remove top shadow */
    
  }

  .nav-list {
    padding: 0 20%;
    height: auto;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
  }

  .sticky {
    position: sticky;
    top: calc(-1 * var(--logo-height));
    width: 100%;
  }
</style>
