---
import NavButton from "../components/NavButton.astro";
import NavDropdown from "../components/NavDropdown.astro";
---

<header>
  <div class="logo-container">
    <a href="">
      <div class="logo">VÍCTOR PÉREZ BROTONS</div>
    </a>
  </div>
  <nav class="nav-bar">
    <ul class="nav-list">
      <NavButton href="">HOME</NavButton>
      <NavButton href="">CONCEPT</NavButton>
      <NavButton href="">ILLUSTRATION</NavButton>
      <NavDropdown name="PROJECTS">
        <NavButton href="">SKY IS DEAD</NavButton>
        <NavButton href="">ETHERNA</NavButton>
        <NavButton href="">ANIMALS A-Z</NavButton>
      </NavDropdown>
      <NavButton href="">ABOUT ME</NavButton>
    </ul>
  </nav>
</header>

<style>
  header {
    margin: 0;
    font-family: MenuFont;
    display: block;
    background-color: black;
    color: white;
  }

  .logo-container {
    display: flex;
    height: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 2rem;
    font-weight: 600;
  }

  .nav-list {
    padding: 0 20%;
    height: auto;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
  }
</style>
