---
import NavButton from "../components/NavButton.astro";
import NavDropdown from "../components/NavDropdown.astro";

import "@fontsource-variable/open-sans";
---

<header id="header">
  <div class="logo-container">
    <a href="">
      <div class="logo">VÍCTOR PÉREZ BROTONS</div>
    </a>
  </div>
  <nav id="navbar" class="nav-bar" transition:persist >
    <ul class="nav-list">
      <li><div class="spacer"></div></li>
      <NavButton href="/">HOME</NavButton>
      <NavButton href="/concept">CONCEPT</NavButton>
      <NavButton href="/illustration"
        >ILLUSTRATION</NavButton
      >
      <NavDropdown name="PROJECTS">
        <NavButton isproject href="/skyisdead"
          >SKY IS DEAD</NavButton
        >
        <NavButton isproject href="/etherna"
          >ETHERNA</NavButton
        >
        <NavButton isproject href="/animals"
          >ANIMALS A-Z</NavButton
        >
      </NavDropdown>
      <NavButton href="/about">ABOUT ME</NavButton>
      <li><div class="spacer"></div></li>
    </ul>
  </nav>
</header>

<script is:inline data-astro-rerun>
  const buttons = Array.from(document.getElementsByClassName("nav-button"));
  buttons.forEach((button) => {
    button.addEventListener("click", (e) => {
      buttons.forEach((button) => {
        if (e.currentTarget == button) {
          const dropdown = document.getElementById("project-dropdown");
          if (button.classList.contains("project-button")) {
            dropdown?.classList.add("selected")
          } else {
            dropdown?.classList.remove("selected")
          }
          button.classList.add("selected");
        } else button.classList.remove("selected");
      });
    });
  });

  
</script>

<style>
  :root {
    --logo-height: 5rem;
  }

  header {
    margin: 0;
    display: block;
    background-color: black;
    color: white;
    z-index: 1000;
    user-select:none;    
  }

  .logo-container {
    display: flex;
    height: var(--logo-height);
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 50;
  }

  .logo {
    font-size: 2rem;
    font-weight: 600;
  }

  .nav-bar {
    background-color: black;
    box-shadow:
      5px 5px 5px -5px grey,
      -5px 5px 5px -5px grey;
    z-index: 40;
  }

  .nav-list {
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .spacer {
    flex-shrink: 2;
  }

  .sticky {
    position: sticky;
    top: calc(-1 * var(--logo-height));
    width: 100%;
  }
</style>
