---

---

<header>
  <div class="logo-container">
    <a href="">
      <div class="logo">VÍCTOR PÉREZ BROTONS</div>
    </a>
  </div>
  <nav class="nav-bar">
    <ul class="nav-list">
      <a href="">
        <li>HOME</li>
      </a>
      <a href="">
        <li>CONCEPT</li>
      </a>
      <a href="">
        <li>ILLUSTRATION</li>
      </a>
      <a href="">
        <li>PROJECTS</li>
      </a>
      <a href="">
        <li>ABOUT ME</li>
      </a>
    </ul>
  </nav>
</header>

<style>
  header {
    margin: 0;
    font-family: MenuFont;
    display: block;
    background-color: black;
    color: white;
  }

  .logo-container {
    display: flex;
    height: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 2rem;
    font-weight: 600;
  }

  .nav-list {
    padding: 0 20%;
    height: 2rem;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
  }

  .nav-list a {
    font-weight: 600;
    height: 2rem;
  }

  .nav-list li:hover {
    text-underline-offset: 3pt;
    text-decoration: underline;
  }
</style>
