---
interface Props {
  href: string;
  isproject?: boolean;
}

const { href, isproject = false } = Astro.props;

import NavItem from "./NavItem.astro";
---

<li>
  <a href={href}>
    <div class="nav-button">
      <NavItem isproject = {isproject}>
        <slot />
      </NavItem>
    </div>
  </a>
</li>

<style>
  a {
    display: block;
    white-space: nowrap;
    flex-grow: 1;
  }
</style>
