---
interface Props {
  title: string;
  href: string;
  isproject?: boolean;
}

const { title, href, isproject = false } = Astro.props;

import NavItem from "./NavItem.astro";
---

<li>
  <a href={href} class="nav-button">
    <NavItem title={title} isproject={isproject} />
  </a>
</li>

<style>
  a {
    display: block;
    white-space: nowrap;
  }

</style>
