---
interface Props {
  href: string;
  isproject?: boolean;
}

const { href, isproject = false } = Astro.props;

import NavItem from "./NavItem.astro";
---

<li>
  <a href={href}>
    <div class=`nav-button ${isproject ? "project-button" : "" }`>
      <NavItem>
        <slot />
        <div class="underline" ></div>
      </NavItem>
    </div>
  </a>
</li>

<style>
  li {
    flex:1;
    flex-shrink:1;
  }
  a {
    display: block;
    white-space: nowrap;
    flex-grow:1;
  }

  .underline {
    margin: 0;
    width: 0%;
    position: relative;
    bottom: -5px;
    margin-inline: auto;
    border-bottom: 2px solid white;
    transition: width 400ms ease;
  }

  .nav-button:hover .underline {
    width: 100%;
  }

  .selected .underline {
    width: 100%;
  }
</style>
