---
interface Props {
  href: string;
}

const { href } = Astro.props;

import NavItem from "./NavItem.astro";
---

<li>
  <a href={href}>
    <NavItem>
      <slot />
    </NavItem>
  </a>
</li>


<style>
  a {
    display: block;
    white-space: nowrap;
  }
</style>
