---
import { fade } from "astro:transitions";
import NavButton from "./NavButton.astro";

interface Props {
  name: string;
}

const { name: title } = Astro.props;

import NavItem from "./NavItem.astro";
---

<div class="dropdown" id="project-dropdown">
  <NavItem>
    {title}
  </NavItem>

  <ul class="dropdown-menu" transition:animate={fade({ duration: "0.4s" })}>
    <slot />
  </ul>
</div>

<style>
  :root {
    --dropdown-gap: 0.25rem;
  }
  .dropdown {
    position: relative;
    display: block;
    white-space: nowrap;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .dropdown-menu {
    position: absolute;
    left: -25%;
    top: calc(100% + 0.25rem);
    background-color: black;
    box-shadow: 2px 2px 5px 0 grey;
    padding: 0.75rem;
    opacity: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    margin: 0;
    transform: translateY(calc(-1 * var(--dropdown-gap)));
    pointer-events: none;
    transition:
      opacity 150ms ease,
      transform 150ms ease;
    z-index: 1000;
  }

  .dropdown-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: var(--dropdown-gap);
    top: calc(-1 * var(--dropdown-gap));
    /* border: 1px solid red; */
  }
  .dropdown:hover .dropdown-menu,
  .dropdown:focus-within,
  .dropdown-menu:hover::after,
  .dropdown-menu:hover {
    opacity: 1;
    transform: translateY(0);
    z-index: 1000;
    pointer-events: all;
  }

  
</style>
