---

---

<div class="nav-item">
  <li><slot /><div class="underline"></div></li>
</div>

<style>
  .nav-item {
    margin: 0;
    margin-inline: auto;
    padding: 1rem;
    width: fit-content;
  }

  li {
    text-align: center;
    font-weight: 500;
  }

  .underline {
    margin: 0;
    width: 0%;
    position:relative;
    bottom: -5px;
    margin-inline: auto;
    border-bottom: 2px solid white;
    transition: width 400ms ease;
  }

  li:hover > .underline {
    width: 100%;
  }
</style>
