---

---

<div class="nav-item" >
  <slot />
</div>

<style>
  .nav-item {
    margin: 0;
    margin-inline: auto;
    padding: 1rem;
    width: fit-content;
    text-align: center;
    font-weight: 500;
    min-width: 5rem;
  } 

</style>
