---
---

<div>
  <li><slot /></li>
</div>

<style>
  div {
    position: relative;
  }

  li:hover {
    text-underline-offset: 3pt;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
  }
</style>
